// Variables
$primary-color: #ffffff; // White text
$padding-mobile: 1.5rem;
$padding-tablet: 2rem;
$padding-desktop: 2rem;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
// $max-width-desktop: 1040px; // Centering limit for desktops

.main-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $padding-mobile;
  color: $primary-color;
  box-sizing: border-box;

  @media (min-width: $breakpoint-tablet) {
    padding: $padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    // max-width: $max-width-desktop;
    margin: 0 8rem;
    padding: $padding-desktop;
  }

  .quote-wrapper {
    
    font-size: 1rem;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.25rem; // Larger text for tablets
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.5rem; // Even larger text for desktops
    }
  }

  .time-wrapper {
    

    h1 {
      font-size: 2.5rem;
      font-weight: bold;

      @media (min-width: $breakpoint-tablet) {
        font-size: 3.5rem; // Adjust font size for tablets
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 4.5rem; // Adjust font size for desktops
      }
    }

    p {
      font-size: 1rem;

      @media (min-width: $breakpoint-tablet) {
        font-size: 1.25rem;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 1.5rem;
      }
    }
  }
}.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background-color: #ffff; /* A light, neutral background */
  position: fixed; /* Ensures it overlays everything */
  top: 0;
  left: 0;
  z-index: 9999; /* High z-index to appear above all other elements */
}

.preloader img {
  width: 100px; /* Adjust width based on your GIF size */
  height: auto; /* Maintain the aspect ratio */
  animation: bounce 1.5s infinite; /* Adding a subtle bounce effect */
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}



